PebbleComm/.DS_Store
PebbleComm/.idea/.name
PebbleComm/.idea/compiler.xml
PebbleComm/.idea/copyright/profiles_settings.xml
PebbleComm/.idea/encodings.xml
PebbleComm/.idea/libraries/annotations_d4bc327d154cee9389baa2d542b7c89f.xml
PebbleComm/.idea/misc.xml
PebbleComm/.idea/modules.xml
PebbleComm/.idea/scopes/scope_settings.xml
PebbleComm/.idea/uiDesigner.xml
PebbleComm/.idea/vcs.xml
PebbleComm/.idea/workspace.xml
PebbleComm/PebbleComm.iml
PebbleComm/PebbleCommActivity.eml
PebbleComm/PebbleCommActivity.iml
PebbleComm/out/production/PebbleComm/PebbleComm.apk
PebbleComm/out/production/PebbleComm/PebbleComm.unaligned.apk
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/Constants$PebbleAppType.class
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/Constants.class
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/PebbleKit$PebbleDataReceiver.class
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/PebbleKit.class
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/util/PebbleDictionary$1.class
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/util/PebbleDictionary$PebbleDictTypeException.class
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/util/PebbleDictionary$TupleOverflowException.class
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/util/PebbleDictionary.class
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/util/PebbleTuple$TupleType.class
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/util/PebbleTuple$ValueOverflowException.class
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/util/PebbleTuple$Width.class
PebbleComm/out/production/PebbleComm/com/getpebble/android/kit/util/PebbleTuple.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/BuildConfig.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/PebbleCommActivity$1$1.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/PebbleCommActivity$1.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/PebbleCommActivity.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/PebbleCommReceiver.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/R$attr.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/R$drawable.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/R$id.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/R$layout.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/R$string.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/R.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/TasksContract$NotesColumns.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/TasksContract$TasksColumns.class
PebbleComm/out/production/PebbleComm/com/simonblais/pebblecomm/TasksContract.class
PebbleComm/out/production/PebbleKit/PebbleKit.iml
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/Constants$PebbleAppType.class
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/Constants.class
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/PebbleKit$PebbleDataReceiver.class
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/PebbleKit.class
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/util/PebbleDictionary$1.class
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/util/PebbleDictionary$PebbleDictTypeException.class
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/util/PebbleDictionary$TupleOverflowException.class
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/util/PebbleDictionary.class
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/util/PebbleTuple$TupleType.class
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/util/PebbleTuple$ValueOverflowException.class
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/util/PebbleTuple$Width.class
PebbleComm/out/production/PebbleKit/com/getpebble/android/kit/util/PebbleTuple.class
PebbleComm/src/.DS_Store
PebbleComm/src/com/simonblais/.DS_Store